.main_container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: auto;
    align-items: center;
    justify-content: center;
                /* new change AG */
    background: linear-gradient(#6F1749, #CB5E9C,#CB5E9C);
}

.left_container {
    /* background-color: red; */
    width: 70%;
    padding-left: 10%;
    /* border: 1px solid lime; */
}

.heading {
    font-weight: 600;
    font-size: 32px;
    padding: 10px 0;
    /* min-width: max-content; */
}

.subheading {
    /* font-weight: 600; */
    /* font-size: 32px; */
    padding: 10px 0;
}

.para {
    /* font-weight: 600; */
    /* font-size: 32px; */
    padding: 20px 0;
}

.icon_container {
    display: flex;
    justify-content:flex-start;
}

.demo {
    font-weight: 600;
    color: #2186F2;
}

.right_container {
    width: 30%;
    display: flex;
    position: relative;
    background-color: black;
}
.right_container img{
    width: 100%;
    z-index: 10;
}
.ipad {
    position:absolute;
    border-radius: 20px;
    right: 21%;
    top: 2%;
    z-index: 0;
}
.ipad video{
    width: 106%;

    background-color: black;
    border-radius: 30px;
}


/* query */
@media (max-width:920px) {
    .main_container {
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
        justify-content: center;
    }
    .left_container,
    .right_container {
        width: 100%;
        /* background-color: lime; */
    }
    .right_container{
        padding:10px 30px;
    }
}

@media (max-width:768px) {

    .main_container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .left_container {
        /* background-color: red; */
        width: 80%;
        /* padding: 10px 0 0 100px; */
        justify-content: center;
    }

    .ipad {
        width: 100%;
        position: relative;
        /* padding: 40px 0; */
        left: 10%;
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }

    .screen {
        top: 13%;
        left: 8%;
        position: absolute;
    }

    .ipad img {
        /* margin-top: 10px; */
        width: 100%;
    }

    .screen img {
        width: 100%;
    }

}

@media (max-width:576px) {
    .main_container {
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
        justify-content: center;
    }

    .left_container,
    .right_container {
        width: 100%;
        /* background-color: lime; */
    }

    .left_container{
        /* background-color: red; */
        padding: 0 13px;
        font-size: 15px;
    }
    .ipad {
        left: 10%;
    }
}