@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Cormorant+Garamond:ital,wght@0,500;0,600;1,400&family=Gruppo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@500;600;700&family=Urbanist:wght@100;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Urbanist:wght@100;400;600;700;800;900&display=swap');




* {
  margin: 0;
  padding: 0;
  font-family: 'Aoboshi One', serif;
  font-family: 'Cormorant Garamond', serif;

  font-family: 'Aoboshi One', serif;
  /* font-family: 'Cormorant Garamond', serif; */

  font-family: 'Urbanist';
  box-sizing: border-box;
  /* transition: 0.3s; */
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  position: relative;
  right: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #2186F2;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}